main{
    width: 30%;
    height: 650px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
@media only screen and (max-width: 600px){
    main {
        width: 50%;
        height: 650px;
        background-color: hsl(0, 0%, 12%);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 750px){
    main {
        width: 50%;
        height: 650px;
        background-color: hsl(0, 0%, 12%);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
}